
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
         </button>
         <div class="text-center"><%= "[#{@shop.name}編集]" %></div>
      </div>   
    </div>
  </div>