<div class="text-center mt-5 mb-5"><h1>会員一覧</h1></div>

<% if @users.count >0 %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="bg-dark text-center text-white">
          <%= User.human_attribute_name :id %>
        </th>
        <th class="bg-dark text-center text-white">
          <%= User.human_attribute_name :name %>
        </th>
        <th class="bg-dark text-center text-white">
          <%= User.human_attribute_name :email %>
        </th>
        <th class="bg-dark text-center text-white">
        </th>
      </tr>
    </thead>
 </table>
<% else %>
  <div class="p-5 bg-secondary text-center text-white">データありません</div>
<% end %>


